/* CSS for Automated Enrichment Web App */

:root {
    --default-align: left;
    --default-max-width: 1080px;
}

body {
    font-family: "LatoLatinWeb";
    min-height: 100vh;
    position: relative;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

/*===== START Main =====*/

.fa {
    border: none;
    color: grey;
    font-size: 24px;
}

.roth-lab-font {
    display: block;
    margin: auto;
    margin-bottom: 6rem;
}

main {
    text-align: var(--default-align);
    max-width: var(--default-max-width);
    display: block;
    padding-top: 1rem;
}

nav,
input {
    height: 100%;
    width: 100%;
    margin-bottom: 0;
}
input.upload {
    margin: auto;
    margin-right: 0;
}
input.upload:hover{
    box-shadow: 0 0 6px rgb(35 173 255);
}

p {
    display: inline-block;
}

pre {
    margin: auto;
}
pre code h3 {
    font-size: 1rem;
}

/* DataTable */
#llrws #data_wrapper > div:nth-child(2) > div {
    overflow-x: auto;
}

#llrws div.dataTables_filter label {
    text-align: right;
}

.page-link:hover {
    border: 1px solid;
}

@media screen and (max-width: 764px) {
    #llrws div.dataTables_filter label {
        text-align: left;
    }

    li.paginate_button.previous {
        display: inline;
    }
    li.paginate_button.next {
        display: inline;
    }
    li.paginate_button {
        display: none;
    }
}

/*===== END Main =====*/

/*===== START Footer =====*/

footer {
    height: 2.5rem;
    position: absolute;
    bottom: 0;
}

/*===== END Footer =====*/
