/* CSS for Automated Enrichment Web App */

:root {
    --default-align: left;
    --default-max-width: 1080px;
    --alpine-border-radius: 5px;
    --success-color: rgb(52, 168, 83);
    --failure-color: rgb(220, 53, 69);
    --neutral-color: rgb(0, 135, 247);
}

body {
    font-family: "LatoLatinWeb";
    min-height: 100vh;
    position: relative;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

/*===== START Main =====*/

main {
    text-align: var(--default-align);
    max-width: var(--default-max-width);
    display: block;
    padding-top: 1rem;
}

nav {
    align-content: flex-end;
    justify-content: flex-end;
}
nav,
input {
    height: 100%;
    width: 100%;
    margin-bottom: 0;
}

p {
    display: inline-block;
}

.fa {
    border: none;
    color: grey;
    font-size: 24px;
}

.roth-lab-font {
    display: flex;
    justify-content: center;
    padding-bottom: 6rem;
}

/* START Alpine JS */
#score-accordion,
#benchmark-accordion {
    border-radius: var(--alpine-border-radius);
    margin-bottom: 1rem;
}

#score-accordion > button,
#benchmark-accordion > button {
    border-color: var(--neutral-color);
    margin-top: 0;
    margin-bottom: 0;
}

span.accordion-desc {
    border-radius: var(--alpine-border-radius);
    color: white;
    font-weight: normal;
    padding-top: 0.5rem;
    padding-right: 1rem;
    padding-bottom: 0.5rem;
    padding-left: 1rem;
}

span.file-status {
    margin-top: auto;
    margin-bottom: auto;
}

span.file-invalid {
    display: none;
    color: var(--failure-color);
}

span.file-valid {
    display: none;
    color: var(--success-color);
}

.transition-accordion {
    transition-property: all;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 700ms;
}

.mh-0 {
    max-height: 0;
}
/* END Alpine JS */

/* START Dropzone */
.dropzone-container {
    display: flex;
    justify-content: space-between;
    margin-right: 1rem;
    margin-left: 1rem;
    padding-top: 3rem;
    padding-bottom: 6rem;
}

.dropzone {
    min-height: 200px;
    min-width: auto;
    border-radius: 5px;
    border-width: 3px;
    border-style: dashed;
    border-color: rgb(0, 135, 247);
    border-image: none;
    margin-left: auto;
    margin-right: auto;
    -webkit-transition: border 0.4s ease;
    -moz-transition: border 0.4s ease;
    -o-transition: border 0.4s ease;
    transition: border 0.4s ease;
}

.dz-message {
    font-size: 1.2rem;
}

.dz-error-message {
    margin-top: 1.5rem;
}

.dropzone .dz-preview .dz-success-mark, .dropzone .dz-preview .dz-error-mark {
    /* Center success or failure icon over image of file - offset by 'Remove file' hyperlink. */
    top: 43%;
}

#benchmark-upload-csv,
#score-upload-csv {
    display: flex;
    justify-content: center;
    align-items: center;
}
/* START Dropzone */

.mave-button-wrapper {
    padding-top: 1rem;
    padding-bottom: 2rem;
    margin: auto;
    max-width: 135px;
}


/* Start DataTable */
#llrws #data_wrapper > div:nth-child(2) > div {
    overflow-x: auto;
}

#llrws div.dataTables_filter label {
    text-align: right;
}

.page-link:hover {
    border: 1px solid;
}

@media screen and (max-width: 764px) {
    #llrws div.dataTables_filter label {
        text-align: left;
    }

    li.paginate_button.previous {
        display: inline;
    }
    li.paginate_button.next {
        display: inline;
    }
    li.paginate_button {
        display: none;
    }
}
/* End DataTable */

/*===== END Main =====*/

/*===== START Footer =====*/

footer {
    height: 2.5rem;
    position: absolute;
    bottom: 0;
}

/*===== END Footer =====*/
