{% extends "layout.html" %}

{% block css %}
  <link rel="stylesheet" href="{{ url_for('static', filename='external/dropzone-5.7.1/dropzone.min.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='external/DataTables-1.11.3/css/dataTables.bootstrap5.min.css') }}">
{% endblock %}

{% block js %}
  <script defer src="{{ url_for('static', filename="external/alpine-3.3.2.min.js") }}"></script>
{% endblock %}

{% block content %}
  <div id="dropzone-accordion" x-data="{selected:null}">
    <div id="score-accordion" class="position-relative border border-top-0">
      <button type="button" class="w-100 bg-white" @click="selected !== 1 ? selected = 1 : selected = null">
        <div class="d-flex justify-content-between">
          <span class="accordion-desc bg-primary"><i class="far fa-hand-pointer"></i>&nbsp UPLOAD SCORESET</span>
          <span class="file-status file-valid"><i class="far fa-check-circle fa-lg"></i></span>
          <span class="file-status file-invalid"><i class="far fa-times-circle fa-lg"></i></span>
        </div>
      </button>
      <div class="position-relative overflow-hidden transition-accordion mh-0 mx-4" style="" x-ref="container1" x-bind:style="selected == 1 ? 'max-height: ' + $refs.container1.scrollHeight + 'px' : ''">
        <div class="py-5">
          <form class="m-auto">
            <h3>Search a gene!</h3>
            <div class="d-flex flex-column justify-content-between">
              <!-- Insert radio buttons / selector elements here -->
              <input
                type="text"
                name="gene"
                hx-post="/search/mavedb/gene"
                hx-trigger="keyup changed delay:250ms"
                hx-indicator="#search-scoreset"
                hx-target="#urn"
                placeholder="Search Gene"
                class="">
              <span id="search-scoreset" class="htmx-indicator">Searching...</span>
              <select
                name="urn"
                id="urn"
                class="">
              {% include 'main/urn.html' %}
              </select>
              <input
                type="submit"
                name="urn"
                value="Get Scoreset"
                hx-indicator="#load-scoreset"
                hx-post="/search/mavedb/score"
                hx-trigger="click"
                class="">
            </div>
            <div id="load-scoreset" class="htmx-indicator">Fetching...</div>
          </form>
        </div>
        <div class="row dropzone-container">
          <div class="col">
            <form id="score-upload-csv" action="{{ url_for('main.upload_score') }}" class="dropzone needsclick">
              <div class="dz-message needsclick">
                Drop <strong>Scoreset CSV</strong> file here or click to upload.
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
    <div id="benchmark-accordion" class="position-relative border border-top-0">
      <button type="button" class="w-100 bg-white" @click="selected !== 2 ? selected = 2 : selected = null">
        <div class="d-flex justify-content-between">
          <span class="accordion-desc bg-primary"><i class="far fa-hand-pointer"></i>&nbsp UPLOAD BENCHMARK</span>
          <span class="file-status file-valid"><i class="far fa-check-circle fa-lg"></i></span>
          <span class="file-status file-invalid"><i class="far fa-times-circle fa-lg"></i></span>
        </div>
      </button>
      <div>
        <!-- Insert radio buttons / selector elements here -->
      </div>
      <div class="position-relative overflow-hidden transition-accordion mh-0 mx-4" style="" x-ref="container2" x-bind:style="selected == 2 ? 'max-height: ' + $refs.container2.scrollHeight + 'px' : ''">
        <!-- Remove padding top style -->
        <div class="row dropzone-container" style="padding-top: 3rem;">
          <div class="col">
            <form id="benchmark-upload-csv" action="{{ url_for('main.upload_benchmark') }}" class="dropzone needsclick">
              <div class="dz-message needsclick">
                Drop <strong>Benchmark CSV</strong> file here or click to upload.
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="mave-button-wrapper">
    <input id="mave-button-submit" type="submit" value="Get MAVE LLR" class="btn btn-primary" onclick="this.blur();" disabled></input>
  </div>
  <table id="data" class="display compact table table-striped" width="100%">
    <thead>
      <tr>
        <th>HGVS Pro</th>
        <th>Score</th>
        <th>STDDEV</th>
        <th>STDERR</th>
        <th>LLR</th>
        <th>LLR Lower CI</th>
        <th>LLR Upper CI</th>
      </tr>
    </thead>
    <tbody>
    </tbody>
  </table>
{% endblock %}
{% block scripts %}
  <script src="{{ url_for('static', filename="external/dropzone-5.7.1/dropzone.min.js") }}"></script>
  <script src="{{ url_for('static', filename='external/DataTables-1.11.3/js/jquery.dataTables.min.js') }}"></script>
  <script src="{{ url_for('static', filename='external/DataTables-1.11.3/js/dataTables.bootstrap5.min.js') }}"></script>
  <script src="{{ url_for('static', filename='js/commonMaveFunctions.js') }}"></script>
  <script src="{{ url_for('static', filename='js/maveDataTable.js') }}"></script>
  <script src="{{ url_for('static', filename='js/maveDropZone.js') }}"></script>
  <script>
    document.body.addEventListener("loadScore", function(evt){
      setBorderColor("#score-upload-csv", "var(--neutral-color)");
      setFileStatusHidden('#benchmark-accordion span.file-valid');
      setFileStatusHidden('#benchmark-accordion span.file-invalid');
      setFileStatusVisible("#score-accordion span.file-valid");
      // Fade out dropzone if loadScore was called
      $('#score-accordion .dropzone-container').fadeOut();
    })
  </script>
{% endblock %}
