{% extends "layout.html" %}

{% block content %}
  <table id="data" class="display compact table table-striped" width="100%">
    <thead>
      <tr>
        <th>HGVS Pro</th>
        <th>Score</th>
        <th>STDDEV</th>
        <th>STDERR</th>
        <th>LLR</th>
        <th>LLR Lower CI</th>
        <th>LLR Upper CI</th>
      </tr>
    </thead>
    <tbody>
    </tbody>
  </table>
{% endblock %}
{% block scripts %}
  <script>
    $(document).ready(function () {
      var table = $('#data').DataTable({
        ajax: '/data',
        columns: [
          {data: 'hgvs_pro'},
          {data: 'score', searchable: false},
          {data: 'sd', searchable: false},
          {data: 'se', searchable: false},
          {data: 'llr', searchable: false},
          {data: 'llrCIlower', searchable: false},
          {data: 'llrCIupper', searchable: false},
        ],
        lengthMenu: [[50, 100, 250, -1], [50, 100, 250, "All"]],
        pageLength: 50,
        scrollX: true,
        scrollY: "500px",
        scrollCollapse: true,
        scroller: true,
      });
      table.columns.adjust();
    });
  </script>
{% endblock %}
